## 카피하며 공부하기 
[데이콘 참고](https://dacon.io/competitions/open/235536/codeshare/2721?page=1&dtype=recent)

\[문화\] 영화 관객수 예측 모델 개발
문화산업 빅데이터를 이용하여 인공지능 모델 개발 

\- 기세현님 코드 분석 & 공부

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv("movies_train.csv")
test = pd.read_csv("movies_test.csv")
submission = pd.read_csv('submission.csv')

In [12]:
len(train.distributor.unique().tolist())

159

In [41]:
train.head(30)

                title      distributor  ... box_off_num genre_rank
0              개들의 전쟁         롯데엔터테인먼트  ...       23398         11
1                내부자들              쇼박스  ...     7072501         12
2           은밀하게 위대하게              쇼박스  ...     6959083         11
3            나는 공무원이다              NEW  ...      217866          9
4                불량남녀              쇼박스  ...      483387          9
5      강철대오 : 구국의 철가방         롯데엔터테인먼트  ...      233211          9
6                길위에서             백두대간  ...       53526          2
7                 회사원              쇼박스  ...     1110523         11
8     1789, 바스티유의 연인들  유니버설픽쳐스인터내셔널코리아  ...        4778          1
9               청춘그루브              두타연  ...         868          8
10             AV 아이돌            케이알씨지  ...         745          5
11              무서운 집             콘텐츠윙  ...        1079          7
12                 해로             키노아이  ...        5851          8
13                  짓            팝파트너스  ...       23052          3
14            철가방 우수氏               CJ  ...       92404          8
15             자유의 언덕          영화제작전원사  ...       39317          8
16                 써니               CJ  ...     7453715          9
17           별이 빛나는 밤               CJ  ...        5693          8
18                 카트           리틀빅픽처스  ...      814570          8
19                하하하              스폰지  ...       57029          8
20          두근두근 내 인생               CJ  ...     1624573          8
21        성실한 나라의 앨리스               CJ  ...       44074          8
22                 원령           조이앤시네마  ...         914          7
23             관능의 법칙         롯데엔터테인먼트  ...      781516          8
24             안녕, 투이            인디플러그  ...        1176          8
25                 영도            콘텐츠판다  ...        3094          8
26             이웃집 좀비            인디스토리  ...        2807          7
27  러브앤서울 복숭아마을 도색소동기            케이알씨지  ...         745          5
28                무법자              NEW  ...      160734         12
29   일탈여행 : 프라이빗 아일랜드          팝엔터테인먼트  ...        3460          8

[30 rows x 13 columns]

In [6]:
submission.head()

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0
3          의형제            0
4        평행 이론            0

In [7]:
# 배급사 전처리
train['distributor'] = train.distributor.str.replace('(주)','')
test['distributor'] = test.distributor.str.replace('(주)','')
train['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]','',x) for x in train.distributor]
test['distributor'] = [re.sub('[^0-9a-zA-Z가-힣]','',x) for x in test.distributor]

In [13]:
def get_dis(x):
  if 'CJ' in x or 'CGV' in x:
    return 'CJ'
  elif '쇼박스' in x:
    return '쇼박스'
  elif 'SK' in x:
    return 'SK'
  elif '리틀빅픽' in x:
    return '리틀빅픽처스'
  elif '스폰지' in x:
    return '스폰지'
  elif '싸이더스' in x:
    return '싸이더스'
  elif '에이원' in x:
    return '에이원'
  elif '마인스' in x:
    return '마인스'
  elif '마운틴픽' in x:
    return '마운틴픽처스'
  elif '디씨드' in x:
    return '디씨드'
  elif '드림팩트' in x:
    return '드림팩트'
  elif '메가박스' in x:
    return '메가박스'
  elif '마운틴' in x:
    return '마운틴'
  else:
    return x

In [14]:
train['distributor'] = train.distributor.apply(get_dis)
test['distributor'] = test.distributor.apply(get_dis)

In [16]:
len(train.distributor.unique().tolist())

147

In [30]:
train.groupby('genre').mean().box_off_num.sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [31]:
train.groupby('genre').box_off_num.mean().sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [32]:
train['genre_rank'] = train.genre.map({'뮤지컬':1,'다큐멘터리':2,'서스펜스':3,'애니메이션':4,'멜로/로맨스':5,'미스터리':6,'공포':7,'드라마':8,'코미디':9,'SF':10,'액션':11,'느와르':12})
test['genre_rank'] = test.genre.map({'뮤지컬':1,'다큐멘터리':2,'서스펜스':3,'애니메이션':4,'멜로/로맨스':5,'미스터리':6,'공포':7,'드라마':8,'코미디':9,'SF':10,'액션':11,'느와르':12})

In [33]:
train.genre_rank

0      11
1      12
2      11
3       9
4       9
       ..
595     8
596     8
597     7
598    12
599    11
Name: genre_rank, Length: 600, dtype: int64

In [34]:
#배급사별 영화 관색수 중위값 기준으로 배급사 랭크 인코딩
tr_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name='num_rank').sort_values(by='num_rank')

In [39]:
type(train.groupby('distributor').box_off_num.median()) ## 시리즈 형태에서 사용할 수 있는 reset_index(name='')을 적용하여 데이터 프레임으로 확장

pandas.core.series.Series

In [48]:
tr_nm_rank

    distributor   num_rank
110  인피니티엔터테인먼트        2.0
15       고구마공작소        8.0
52       사람과사람들       42.0
97        위드시네마       46.0
19        나우콘텐츠       54.0
..          ...        ...
113     전망좋은영화사  1214237.0
105   이십세기폭스코리아  1422844.0
56          쇼박스  2138560.0
84       영구아트무비  2541603.0
75    아이필름코퍼레이션  3117859.0

[147 rows x 2 columns]

In [49]:
tr_nm_rank['num_rank'] = [i + 1 for i in range(tr_nm_rank.shape[0])] ## len(tr_nm_rank)과 같은 의미

In [50]:
tr_nm_rank ######## 배급사에 순서를 매김

    distributor  num_rank
110  인피니티엔터테인먼트         1
15       고구마공작소         2
52       사람과사람들         3
97        위드시네마         4
19        나우콘텐츠         5
..          ...       ...
113     전망좋은영화사       143
105   이십세기폭스코리아       144
56          쇼박스       145
84       영구아트무비       146
75    아이필름코퍼레이션       147

[147 rows x 2 columns]

In [54]:
train = pd.merge(train, tr_nm_rank, how = 'left')
test = pd.merge(test, tr_nm_rank,how = 'left')
test.fillna(0,inplace = True)  #### test 데이터 셋에 기존 train 데이터셋에 없던 배급사가 나올 경우 결측치가 됨 이것을 0으로 대체

In [55]:
train

         title distributor genre  ... box_off_num  genre_rank num_rank
0       개들의 전쟁    롯데엔터테인먼트    액션  ...       23398          11      134
1         내부자들         쇼박스   느와르  ...     7072501          12      145
2    은밀하게 위대하게         쇼박스    액션  ...     6959083          11      145
3     나는 공무원이다         NEW   코미디  ...      217866           9      140
4         불량남녀         쇼박스   코미디  ...      483387           9      145
..         ...         ...   ...  ...         ...         ...      ...
595         해무         NEW   드라마  ...     1475091           8      140
596       파파로티         쇼박스   드라마  ...     1716438           8      145
597      살인의 강      마운틴픽처스    공포  ...        2475           7       46
598     악의 연대기          CJ   느와르  ...     2192525          12      141
599        베를린          CJ    액션  ...     7166532          11      141

[600 rows x 14 columns]

In [56]:
test

               title distributor   genre  ... num_actor  genre_rank num_rank
0             용서는 없다      시네마서비스     느와르  ...         3          12    132.0
1        아빠가 여자를 좋아해         쇼박스  멜로/로맨스  ...         3           5    145.0
2                하모니          CJ     드라마  ...         7           8    141.0
3                의형제         쇼박스      액션  ...         2          11    145.0
4              평행 이론          CJ      공포  ...         1           7    141.0
..               ...         ...     ...  ...       ...         ...      ...
238        해에게서 소년에게         디씨드     드라마  ...         4           8    112.0
239           울보 권투부       인디스토리   다큐멘터리  ...         2           2     69.0
240             어떤살인     컨텐츠온미디어     느와르  ...         4          12      0.0
241        말하지 못한 비밀      마운틴픽처스     드라마  ...         7           8     46.0
242  조선안방 스캔들-칠거지악 2       케이알씨지  멜로/로맨스  ...         4           5     29.0

[243 rows x 13 columns]

In [60]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
#!pip install catboost #코랩에 catboost가 없음
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
#!pip install ngboost # 코랩에 ngboost도 없음
from ngboost import NGBRegressor

Collecting ngboost
  Downloading ngboost-0.3.12-py3-none-any.whl (31 kB)
Requirement already satisfied: scikit-learn>=0.21 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.0.1)
Collecting lifelines>=0.25
  Downloading lifelines-0.26.4-py3-none-any.whl (348 kB)
     |████████████████████████████████| 348 kB 8.7 MB/s
Requirement already satisfied: tqdm>=4.3 in /usr/local/lib/python3.7/dist-packages (from ngboost) (4.62.3)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.4.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.19.5)
Requirement already satisfied: autograd>=1.3 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (1.3)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (1.1.5)
Collecting autograd-gamma>=0.3
  Downloading autograd-gamma-0.5.0.tar.gz (4.0 kB)
Requirement already satisfied: matplotlib>=3.0 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (3.2.2)
Collecting formulaic<0.3,>=0.2.2
  Downloading formulaic-0.2.4-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.6 MB/s
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd>=1.3->lifelines>=0.25->ngboost) (0.16.0)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines>=0.25->ngboost) (0.8.1)
Collecting interface-meta>=1.2
  Downloading interface_meta-1.2.4-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines>=0.25->ngboost) (1.13.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->lifelines>=0.25->ngboost) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0->lifelines>=0.25->ngboost) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->ngboost) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->ngboost) (3.0.0)
Building wheels for collected packages: autograd-gamma
  Building wheel for autograd-gamma (setup.py) ... done
  Created wheel for autograd-gamma: filename=autograd_gamma-0.5.0-py3-none-any.whl size=4049 sha256=b35a075f9f8176a1d894ec4ce48250d7619620f3309978b4dabee5f4aa1b16cb
  Stored in directory: /root/.cache/pip/wheels/9f/01/ee/1331593abb5725ff7d8c1333aee93a50a1c29d6ddda9665c9f
Successfully built autograd-gamma
Installing collected packages: interface-meta, formulaic, autograd-gamma, lifelines, ngboost
Successfully installed autograd-gamma-0.5.0 formulaic-0.2.4 interface-meta-1.2.4 lifelines-0.26.4 ngboost-0.3.12