## 카피하며 공부하기 
[데이콘 참고](https://dacon.io/competitions/open/235536/codeshare/2721?page=1&dtype=recent)

\[문화\] 영화 관객수 예측 모델 개발
문화산업 빅데이터를 이용하여 인공지능 모델 개발 

\- 기세현님 코드 분석 & 공부

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [4]:
train = pd.read_csv("movies_train.csv")
test = pd.read_csv("movies_test.csv")
submission = pd.read_csv('submission.csv')

In [5]:
len(train.distributor.unique().tolist())

169

In [6]:
train.head(30)

                title      distributor  ... num_actor box_off_num
0              개들의 전쟁         롯데엔터테인먼트  ...         2       23398
1                내부자들           (주)쇼박스  ...         3     7072501
2           은밀하게 위대하게           (주)쇼박스  ...         4     6959083
3            나는 공무원이다           (주)NEW  ...         6      217866
4                불량남녀     쇼박스(주)미디어플렉스  ...         2      483387
5      강철대오 : 구국의 철가방         롯데엔터테인먼트  ...         4      233211
6                길위에서             백두대간  ...         5       53526
7                 회사원           (주)쇼박스  ...         2     1110523
8     1789, 바스티유의 연인들  유니버설픽쳐스인터내셔널코리아  ...         5        4778
9               청춘그루브           (주)두타연  ...         3         868
10             AV 아이돌        (주) 케이알씨지  ...         4         745
11              무서운 집         (주)콘텐츠 윙  ...         1        1079
12                 해로          (주)키노아이  ...         2        5851
13                  짓        (주)팝 파트너스  ...         4       23052
14            철가방 우수氏      CJ E&M 영화부문  ...         1       92404
15             자유의 언덕      (주) 영화제작전원사  ...         3       39317
16                 써니  CJ E&M Pictures  ...        11     7453715
17           별이 빛나는 밤        CGV 무비꼴라쥬  ...         4        5693
18                 카트           리틀빅픽처스  ...         4      814570
19                하하하              스폰지  ...         9       57029
20          두근두근 내 인생        CJ 엔터테인먼트  ...         3     1624573
21        성실한 나라의 앨리스         CGV아트하우스  ...         1       44074
22                 원령           조이앤시네마  ...         1         914
23             관능의 법칙         롯데엔터테인먼트  ...         3      781516
24             안녕, 투이            인디플러그  ...         3        1176
25                 영도            콘텐츠판다  ...         3        3094
26             이웃집 좀비            인디스토리  ...        10        2807
27  러브앤서울 복숭아마을 도색소동기        (주) 케이알씨지  ...         4         745
28                무법자           (주)NEW  ...         3      160734
29   일탈여행 : 프라이빗 아일랜드       (주)팝엔터테인먼트  ...         3        3460

[30 rows x 12 columns]

In [7]:
submission.head()

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0
3          의형제            0
4        평행 이론            0

In [8]:
# 배급사 전처리
train['distributor'] = train.distributor.str.replace('(주)','')
test['distributor'] = test.distributor.str.replace('(주)','')
train['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]','',x) for x in train.distributor]
test['distributor'] = [re.sub('[^0-9a-zA-Z가-힣]','',x) for x in test.distributor]

In [9]:
def get_dis(x):
  if 'CJ' in x or 'CGV' in x:
    return 'CJ'
  elif '쇼박스' in x:
    return '쇼박스'
  elif 'SK' in x:
    return 'SK'
  elif '리틀빅픽' in x:
    return '리틀빅픽처스'
  elif '스폰지' in x:
    return '스폰지'
  elif '싸이더스' in x:
    return '싸이더스'
  elif '에이원' in x:
    return '에이원'
  elif '마인스' in x:
    return '마인스'
  elif '마운틴픽' in x:
    return '마운틴픽처스'
  elif '디씨드' in x:
    return '디씨드'
  elif '드림팩트' in x:
    return '드림팩트'
  elif '메가박스' in x:
    return '메가박스'
  elif '마운틴' in x:
    return '마운틴'
  else:
    return x

In [10]:
train['distributor'] = train.distributor.apply(get_dis)
test['distributor'] = test.distributor.apply(get_dis)

In [11]:
len(train.distributor.unique().tolist())

147

In [12]:
train.groupby('genre').mean().box_off_num.sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [13]:
train.groupby('genre').box_off_num.mean().sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [14]:
train['genre_rank'] = train.genre.map({'뮤지컬':1,'다큐멘터리':2,'서스펜스':3,'애니메이션':4,'멜로/로맨스':5,'미스터리':6,'공포':7,'드라마':8,'코미디':9,'SF':10,'액션':11,'느와르':12})
test['genre_rank'] = test.genre.map({'뮤지컬':1,'다큐멘터리':2,'서스펜스':3,'애니메이션':4,'멜로/로맨스':5,'미스터리':6,'공포':7,'드라마':8,'코미디':9,'SF':10,'액션':11,'느와르':12})

In [15]:
train.genre_rank

0      11
1      12
2      11
3       9
4       9
       ..
595     8
596     8
597     7
598    12
599    11
Name: genre_rank, Length: 600, dtype: int64

In [16]:
#배급사별 영화 관색수 중위값 기준으로 배급사 랭크 인코딩
tr_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name='num_rank').sort_values(by='num_rank')

In [17]:
type(train.groupby('distributor').box_off_num.median()) ## 시리즈 형태에서 사용할 수 있는 reset_index(name='')을 적용하여 데이터 프레임으로 확장

pandas.core.series.Series

In [18]:
tr_nm_rank

    distributor   num_rank
110  인피니티엔터테인먼트        2.0
15       고구마공작소        8.0
52       사람과사람들       42.0
97        위드시네마       46.0
19        나우콘텐츠       54.0
..          ...        ...
113     전망좋은영화사  1214237.0
105   이십세기폭스코리아  1422844.0
56          쇼박스  2138560.0
84       영구아트무비  2541603.0
75    아이필름코퍼레이션  3117859.0

[147 rows x 2 columns]

In [19]:
tr_nm_rank['num_rank'] = [i + 1 for i in range(tr_nm_rank.shape[0])] ## len(tr_nm_rank)과 같은 의미

In [20]:
tr_nm_rank ######## 배급사에 순서를 매김

    distributor  num_rank
110  인피니티엔터테인먼트         1
15       고구마공작소         2
52       사람과사람들         3
97        위드시네마         4
19        나우콘텐츠         5
..          ...       ...
113     전망좋은영화사       143
105   이십세기폭스코리아       144
56          쇼박스       145
84       영구아트무비       146
75    아이필름코퍼레이션       147

[147 rows x 2 columns]

In [21]:
train = pd.merge(train, tr_nm_rank, how = 'left')
test = pd.merge(test, tr_nm_rank,how = 'left')
test.fillna(0,inplace = True)  #### test 데이터 셋에 기존 train 데이터셋에 없던 배급사가 나올 경우 결측치가 됨 이것을 0으로 대체

In [22]:
train

         title distributor genre  ... box_off_num  genre_rank num_rank
0       개들의 전쟁    롯데엔터테인먼트    액션  ...       23398          11      134
1         내부자들         쇼박스   느와르  ...     7072501          12      145
2    은밀하게 위대하게         쇼박스    액션  ...     6959083          11      145
3     나는 공무원이다         NEW   코미디  ...      217866           9      140
4         불량남녀         쇼박스   코미디  ...      483387           9      145
..         ...         ...   ...  ...         ...         ...      ...
595         해무         NEW   드라마  ...     1475091           8      140
596       파파로티         쇼박스   드라마  ...     1716438           8      145
597      살인의 강      마운틴픽처스    공포  ...        2475           7       46
598     악의 연대기          CJ   느와르  ...     2192525          12      141
599        베를린          CJ    액션  ...     7166532          11      141

[600 rows x 14 columns]

In [23]:
test

               title distributor   genre  ... num_actor  genre_rank num_rank
0             용서는 없다      시네마서비스     느와르  ...         3          12    132.0
1        아빠가 여자를 좋아해         쇼박스  멜로/로맨스  ...         3           5    145.0
2                하모니          CJ     드라마  ...         7           8    141.0
3                의형제         쇼박스      액션  ...         2          11    145.0
4              평행 이론          CJ      공포  ...         1           7    141.0
..               ...         ...     ...  ...       ...         ...      ...
238        해에게서 소년에게         디씨드     드라마  ...         4           8    112.0
239           울보 권투부       인디스토리   다큐멘터리  ...         2           2     69.0
240             어떤살인     컨텐츠온미디어     느와르  ...         4          12      0.0
241        말하지 못한 비밀      마운틴픽처스     드라마  ...         7           8     46.0
242  조선안방 스캔들-칠거지악 2       케이알씨지  멜로/로맨스  ...         4           5     29.0

[243 rows x 13 columns]

In [24]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
!pip install catboost #코랩에 catboost가 없음
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
!pip install ngboost # 코랩에 ngboost도 없음
from ngboost import NGBRegressor

Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 1.2 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.3
Collecting ngboost
  Downloading ngboost-0.3.12-py3-none-any.whl (31 kB)
Requirement already satisfied: tqdm>=4.3 in /usr/local/lib/python3.7/dist-packages (from ngboost) (4.62.3)
Requirement already satisfied: scikit-learn>=0.21 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.0.1)
Collecting lifelines>=0.25
  Downloading lifelines-0.26.4-py3-none-any.whl (348 kB)
     |████████████████████████████████| 348 kB 47.3 MB/s
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.4.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.19.5)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (1.1.5)
Collecting autograd-gamma>=0.3
  Downloading autograd-gamma-0.5.0.tar.gz (4.0 kB)
Requirement already satisfied: autograd>=1.3 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (1.3)
Collecting formulaic<0.3,>=0.2.2
  Downloading formulaic-0.2.4-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 5.1 MB/s
Requirement already satisfied: matplotlib>=3.0 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (3.2.2)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd>=1.3->lifelines>=0.25->ngboost) (0.16.0)
Collecting interface-meta>=1.2
  Downloading interface_meta-1.2.4-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines>=0.25->ngboost) (0.8.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines>=0.25->ngboost) (1.13.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->lifelines>=0.25->ngboost) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0->lifelines>=0.25->ngboost) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->ngboost) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->ngboost) (1.1.0)
Building wheels for collected packages: autograd-gamma
  Building wheel for autograd-gamma (setup.py) ... done
  Created wheel for autograd-gamma: filename=autograd_gamma-0.5.0-py3-none-any.whl size=4049 sha256=e6527b6767e53114535470c31237890c22a119399282696403e8ed8bf65692ed
  Stored in directory: /root/.cache/pip/wheels/9f/01/ee/1331593abb5725ff7d8c1333aee93a50a1c29d6ddda9665c9f
Successfully built autograd-gamma
Installing collected packages: interface-meta, formulaic, autograd-gamma, lifelines, ngboost
Successfully installed autograd-gamma-0.5.0 formulaic-0.2.4 interface-meta-1.2.4 lifelines-0.26.4 ngboost-0.3.12

In [25]:
X = train[['num_rank','time','num_staff','num_actor','genre_rank','screening_rat']]
y = np.log1p(train.box_off_num)
X = pd.get_dummies(columns = ['screening_rat'],data = X)

In [26]:
X

     num_rank  time  ...  screening_rat_전체 관람가  screening_rat_청소년 관람불가
0         134    96  ...                     0                       1
1         145   130  ...                     0                       1
2         145   123  ...                     0                       0
3         140   101  ...                     1                       0
4         145   108  ...                     0                       0
..        ...   ...  ...                   ...                     ...
595       140   111  ...                     0                       1
596       145   127  ...                     0                       0
597        46    99  ...                     0                       1
598       141   102  ...                     0                       0
599       141   120  ...                     0                       0

[600 rows x 9 columns]

In [27]:
X['num_actor'] = np.log1p(X['num_actor'])
X

     num_rank  time  ...  screening_rat_전체 관람가  screening_rat_청소년 관람불가
0         134    96  ...                     0                       1
1         145   130  ...                     0                       1
2         145   123  ...                     0                       0
3         140   101  ...                     1                       0
4         145   108  ...                     0                       0
..        ...   ...  ...                   ...                     ...
595       140   111  ...                     0                       1
596       145   127  ...                     0                       0
597        46    99  ...                     0                       1
598       141   102  ...                     0                       0
599       141   120  ...                     0                       0

[600 rows x 9 columns]

In [28]:
target = test[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]
target = pd.get_dummies(columns = ['screening_rat'], data = target)
target['num_actor'] = np.log1p(target['num_actor'])

In [29]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)

In [30]:
gbm = GradientBoostingRegressor(random_state=42)
rmse_list = [] 
gb_pred = np.zeros((test.shape[0])) #### 테스트 데이터셋의 행 수 크기로 array(n,)
for tr_idx, val_idx in kf.split(X,y): ##### 600개의 데이터를 10등분한뒤 (kf 의 n_splits = 10)
  tr_x,tr_y = X.iloc[tr_idx],y.iloc[tr_idx]  #### X(여러변수),y(관객수)데이터의 index 값들을 iloc로 slice하여 트레이닝 x,y로
  val_x,val_y = X.iloc[val_idx],y.iloc[val_idx] ### 검증데이터도 트레이닝과 마찬가지로
  gbm.fit(tr_x,tr_y) #### 트레이닝 x, y 데이터로 모델 학습
  pred = np.expm1([0 if x < 0 else x for x in gbm.predict(val_x)]) ### expm1 = e^x - 1, 관객수는 0보다 크기떄문에 음수는 0처리
  sub_pred = np.expm1([0 if x <0 else x for x in gbm.predict(target)])  ### 테스트 데이터 셋에서의 관객수 예측
  rmse = np.sqrt(mean_squared_error(val_y,pred)) ## RMSE (Root Mean Squared Error)
  rmse_list.append(rmse) 
  gb_pred += (sub_pred / 10)       ### for문이 끝나면 각 fold에서의 평균 관객수가 된다.
np.mean(rmse_list)

1174378.9787164854

In [31]:
np.mean(rmse_list)

1174378.9787164854

In [32]:
gb_pred = np.zeros((test.shape[0]))

In [33]:
len(gb_pred)

243

In [34]:
ngb = NGBRegressor(random_state = 518)

In [35]:
rmse_list = []
ngb_pred = np.zeros(len(test))
for tr_idx, val_idx in kf.split(X,y):
  tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
  val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
  ngb.fit(tr_x,tr_y)
  pred = np.expm1([0 if x < 0 else x for x in ngb.predict(val_x)])
  sub_pred = np.expm1([0 if x<0 else x for x in ngb.predict(target)])
  rmse = np.sqrt(mean_squared_error(val_y,pred))
  rmse_list.append(rmse)
  ngb_pred += (sub_pred / 10)

[iter 0] loss=2.6200 val_loss=0.0000 scale=1.0000 norm=2.9523
[iter 100] loss=1.9566 val_loss=0.0000 scale=2.0000 norm=2.7106
[iter 200] loss=1.5812 val_loss=0.0000 scale=2.0000 norm=2.1869
[iter 300] loss=1.4423 val_loss=0.0000 scale=2.0000 norm=2.0889
[iter 400] loss=1.3728 val_loss=0.0000 scale=1.0000 norm=1.0177
[iter 0] loss=1.4098 val_loss=0.0000 scale=1.0000 norm=1.0771
[iter 100] loss=1.3270 val_loss=0.0000 scale=1.0000 norm=1.0089
[iter 200] loss=1.2861 val_loss=0.0000 scale=1.0000 norm=0.9863
[iter 300] loss=1.2470 val_loss=0.0000 scale=1.0000 norm=0.9663
[iter 400] loss=1.2156 val_loss=0.0000 scale=0.2500 norm=0.2378
[iter 0] loss=1.2158 val_loss=0.0000 scale=1.0000 norm=0.9568
[iter 100] loss=1.1638 val_loss=0.0000 scale=1.0000 norm=0.9199
[iter 200] loss=1.1526 val_loss=0.0000 scale=1.0000 norm=0.9127
[iter 300] loss=1.1415 val_loss=0.0000 scale=0.1250 norm=0.1132
[iter 400] loss=1.1374 val_loss=0.0000 scale=0.0078 norm=0.0071
[iter 0] loss=1.1697 val_loss=0.0000 scale=0.5000 norm=0.4633
[iter 100] loss=1.1439 val_loss=0.0000 scale=1.0000 norm=0.9082
[iter 200] loss=1.1198 val_loss=0.0000 scale=0.5000 norm=0.4463
[iter 300] loss=1.0975 val_loss=0.0000 scale=1.0000 norm=0.8791
[iter 400] loss=1.0723 val_loss=0.0000 scale=0.5000 norm=0.4333
[iter 0] loss=1.0983 val_loss=0.0000 scale=1.0000 norm=0.8947
[iter 100] loss=1.0547 val_loss=0.0000 scale=1.0000 norm=0.8618
[iter 200] loss=1.0307 val_loss=0.0000 scale=0.5000 norm=0.4246
[iter 300] loss=1.0143 val_loss=0.0000 scale=0.0312 norm=0.0263
[iter 400] loss=1.0122 val_loss=0.0000 scale=0.0156 norm=0.0131
[iter 0] loss=1.0386 val_loss=0.0000 scale=0.5000 norm=0.4335
[iter 100] loss=1.0010 val_loss=0.0000 scale=0.5000 norm=0.4194
[iter 200] loss=0.9779 val_loss=0.0000 scale=0.5000 norm=0.4136
[iter 300] loss=0.9570 val_loss=0.0000 scale=0.1250 norm=0.1023
[iter 400] loss=0.9408 val_loss=0.0000 scale=0.0625 norm=0.0507
[iter 0] loss=0.9872 val_loss=0.0000 scale=1.0000 norm=0.8438
[iter 100] loss=0.9801 val_loss=0.0000 scale=0.1250 norm=0.1045
[iter 200] loss=0.9801 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 300] loss=0.9784 val_loss=0.0000 scale=0.0039 norm=0.0033
[iter 400] loss=0.9780 val_loss=0.0000 scale=0.0010 norm=0.0008
[iter 0] loss=0.9539 val_loss=0.0000 scale=0.5000 norm=0.4118
[iter 100] loss=0.9136 val_loss=0.0000 scale=0.5000 norm=0.3979
[iter 200] loss=0.8967 val_loss=0.0000 scale=0.5000 norm=0.3943
[iter 300] loss=0.8712 val_loss=0.0000 scale=0.5000 norm=0.3891
[iter 400] loss=0.8510 val_loss=0.0000 scale=0.5000 norm=0.3848
[iter 0] loss=0.9031 val_loss=0.0000 scale=1.0000 norm=0.8112
[iter 100] loss=0.8576 val_loss=0.0000 scale=0.5000 norm=0.3877
[iter 200] loss=0.8419 val_loss=0.0000 scale=0.5000 norm=0.3828
[iter 300] loss=0.8249 val_loss=0.0000 scale=0.5000 norm=0.3779
[iter 400] loss=0.8118 val_loss=0.0000 scale=1.0000 norm=0.7497
[iter 0] loss=0.8213 val_loss=0.0000 scale=0.5000 norm=0.3791
[iter 100] loss=0.7937 val_loss=0.0000 scale=0.5000 norm=0.3685
[iter 200] loss=0.7764 val_loss=0.0000 scale=0.5000 norm=0.3632
[iter 300] loss=0.7592 val_loss=0.0000 scale=0.5000 norm=0.3576
[iter 400] loss=0.7406 val_loss=0.0000 scale=0.1250 norm=0.0883

In [36]:
np.mean(rmse_list)

1443406.9453128185

(243, 243)

In [40]:
lgbm = LGBMRegressor(random_state = 518)
rmse_list = []
lgb_pred = np.zeros(len(test))
for tr_idx, val_idx in kf.split(X,y):
  tr_x,tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
  val_x,val_y = X.iloc[val_idx], y.iloc[val_idx]
  lgbm.fit(tr_x,tr_y)
  pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(val_x)])
  sub_pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(target)])
  rmse = np.sqrt(mean_squared_error(val_y,pred))
  rmse_list.append(rmse)
  lgb_pred += (sub_pred / 10)
np.mean(rmse_list)

1213815.0440528719